<div class="panel">
	<div class="panel_header">ข้อมูลการซื้อ</div>
	<div class="panel_body">
		<span style="width: 100px; display: inline-block; text-align: right">Bill NO. </span>
		<input type="text" disabled="disabled" size="5" value="<%= @bill_sale.id %>" />
		ผู้ซื้อ: <input type="text" disabled="disabled" size="35" value="<%= @bill_sale.bill_sale_name %>" />
		เบอร์โทร: <input type="text" disabled="disabled" size="25" value="<%= @bill_sale.bill_sale_tel %>" />
		<br />
		<span style="width: 100px; display: inline-block; text-align: right">email: 
		</span>
		<input type="text" disabled="disabled" size="35" value="<%= @bill_sale.bill_sale_email %>" />
		ที่อยู่ในการจัดส่ง: <input type="text" disabled="disabled" size="70" value="<%= @bill_sale.bill_sale_address %>" />
		<br />
		<span style="width: 100px; display: inline-block; text-align: right">
			สถานะรายการ:
		</span>
		<input type="text" disabled="disabled" value="<%= @bill_sale.bill_sale_status %>" />
		<table class="grid">
			<thead>
				<tr>
					<th width="500px">รายการ</th>
					<th width="100px">ราคา</th>
				</tr>
			</thead>
			<tbody>
				<% sum = 0 %>
				<% @orders.each do |r| %>
				<tr>
					<td><%= r.product.name %></td>
					<td style="text-align: right"><%= r.order_price %></td>
				</tr>
				<% sum += r.order_price %>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td>รวม</td>
					<td style="text-align: right"><%= sum %></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>