<div class="panel">
	<div class="panel_header">Webboard</div>
	<div class="panel_body">
		<% if session[:member] %>
		<%= link_to "New Post", :action => "BoardPost" %>
		<% end %>

		<table class="grid">
			<thead>
				<tr>
					<th width="400px">หัวข้อ</th>
					<th width="200px">ผู้ประกาศ</th>
					<th width="180px">วันที่</th>
					<th>เยี่ยมชม</th>
				</tr>
			</thead>
			<tbody>
				<% @boards.each do |r| %>
				<tr>
					<td><%= link_to r.topic, :action => "BoardView", :id => r.id %></td>
					<td><%= r.member.name %></td>
					<td><%= r.created_date %></td>
					<td><%= r.board_count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>