<div class="panel">
	<div class="panel_header">เพิ่มประกาศใหม่</div>
	<div class="panel_body">
		<%= form_for :board, :url => "BoardSave" do |f| %>
		<div>หัวข้อ</div>
		<div><%= f.text_field "topic", :size => 120 %></div>
		<div>รายละเอียด</div>
		<div><%= f.text_area "detail", :cols => 120, :rows => 10 %></div>
		<div><%= f.submit "Save", :class => "button" %></div>
		<% end %>
	</div>
</div>