<div class="panel">
	<div class="panel_header">
		<%= @board.topic %>
		บันทึกเมื่อ: <%= @board.created_date %>
	</div>
	<div class="panel_body"><%= @board.detail %></div>
</div>
<br />

<% if session[:member] %>
<div class="panel">
	<div class="panel_header">Comment</div>
	<div class="panel_body">

		<% @board_comments.each do |r| %>
		<div style="margin-bottom: 20px; border: #808080 1px solid;">
			<div style="padding: 20px; background-color: white;">
				<%= r.detail %>
			</div>
			<div style="background-color: #cccccc; padding: 10px; border-top: #808080 2px solid;">
				<span style="color: red">บันทึกเมื่อ:</span> 
				<%= r.created_date %> 
				<span style="color: blue; margin-left: 50px;">โดย: </span>
				<%= r.member.name %>
			</div>
		</div>
		<% end %>

		<%= form_for :board_comment, :url => "BoardComment" do |f| %>
		<div><%= f.text_area "detail", :cols => 150, :rows => 10 %></div>
		<div><%= f.submit "Save", :class => "button" %></div>
		<input type="hidden" name="board_id" value="<%= @board.id %>" />
		<% end %>
	</div>
</div>
<% end %>