<div class="panel">
	<div class="panel_header">สิ้นสุดการสั่งซื้อ โปรดกรอกข้อมูลในการจัดส่ง</div>
	<div class="panel_body">
		<%= form_for :order, :action => "CheckOut" do |f| %>
		<div>
			<label>ชื่อผู้ซื้อ</label>
			<%= f.text_field "order_name" %>
		</div>
		<div>
			<label>เบอร์โทร</label>
			<%= f.text_field "order_tel" %>
		</div>
		<div>
			<label>email</label>
			<%= f.text_field "order_email" %>
		</div>
		<div>
			<label>ที่อยู่</label>
			<%= f.text_area "order_address", :cols => 100, :rows => 5 %>
		</div>
		<div>
			<label></label>
			<%= f.submit "บันทึกรายการ", :class => "button" %>
		</div>
		<% end %>
	</div>
</div>
