<div class="panel">
	<div class="panel_header">ประวัติการซื้อสินค้า</div>
	<div class="panel_body">
		<table class="grid">
			<thead>
				<tr>
					<th width="250px">วันที่ซื้อ</th>
					<th width="100px">สถานะ</th>
				</tr>
			</thead>
			<tbody>
				<% @bill_sales.each do |r| %>
				<tr>
					<td><%= link_to r.bill_sale_created_date, :action => "BillSaleDetail", :id => r.id %></td>
					<td><%= r.bill_sale_status %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>