<div class="panel">
	<div class="panel_header">รายการสินค้าในร้าน</div>
	<div class="panel_body">
<table>
	<tr>
		<% @products.each do |product| %>
		<% @count_item += 1 %>
		<td>
		<div style="text-align: center; padding: 10px">
			<div>
				<%= image_tag product.image, :width => "200px" %>
			</div>
			<div>
				<%= product.name %>
			</div>
			<div>
				ราคา: <%= product.price %> บาท
			</div>
			<% if session[:member] %>
			<div>
				<%= link_to "หยิบใส่ตะกร้า", {:action => "AddToCart", :id => product.id} %>
			</div>
			<% end %>
		</div>
		</td>
		
		<!-- end row -->
		<% if @count_item % 5 == 0 %>
		</tr>
		<% end %>
		<% end %>

	<% if @count_item < 5 %>
	</tr>
	<% end %>
</table>
</div>
</div>