<div class="panel">
	<div class="panel_header">ข้อมูลสมาชิก</div>
	<div class="panel_body">
		<%= form_for :member, :action => "MemberRegister" do |f| %>
		<div>
			<label>ชื่อ</label>
			<%= f.text_field "name" %>
		</div>
		<div>
			<label>Username</label>
			<%= f.text_field "u_username" %>
			
			<label>Password</label>
			<%= f.password_field "u_password" %>
		</div>
		<div>
			<label>เบอร์โทร</label>
			<%= f.text_field "tel" %>
			
			<label>email</label>
			<%= f.text_field "email" %>
		</div>
		<div>
			<label>เพศ</label>
			<%= f.radio_button "sex",  "male" %> ชาย
			<%= f.radio_button "sex", "femail" %> หญิง
		</div>
		<div>
			<label></label>
			<%= f.submit "สมัครสมาชิก", :class => "button" %>
		</div>
		<% end %>
	</div>
</div>
