<div class="panel">
	<div class="panel_header">การชำระเงิน</div>
	<div class="panel_body">
		<table class="grid">
			<thead>
				<tr>
					<th width="200px">ชื่อธนาคาร</th>
					<th width="150px">เลขบัญชี</th>
					<th width="300px">สาขา</th>
					<th width="100px">ประเภท</th>
				</tr>
			</thead>
			<tbody>
				<% @pays.each do |r| %>
				<tr>
					<td><%= r.pay_bank_name %></td>
					<td><%= r.pay_bank_code %></td>
					<td><%= r.pay_bank_branch %></td>
					<td><%= r.pay_bank_type %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
