<div class="panel">
	<div class="panel_header">การจัดส่งสินค้า</div>
	<div class="panel">
		<ul>
			<% @shippings.each do |r| %>
			<li><%= r.shipping_name %></li>
			<% end %>
		</ul>
	</div>
</div>
