<div class="panel">
    <div class="panel_header">เกี่ยวกับเรา</div>
    <div class="panel_body">
        <%= form_for :about_us, :action => "AboutUsIndex" do |f| %>
        <div><%= f.text_area "about_detail", :style => "width: 100%", :rows => 20 %></div>
        <div><%= f.submit "บันทึกรายการ", :class => "button" %></div>
        <%= f.hidden_field "id" %>
        <% end %>
    </div>
</div>