<%= form_for :admin, :action => "AdminChangeProfile" do |f| %>
<div class="panel">
    <div class="panel_header">แก้ไขข้อมูล</div>
    <div class="panel_body">
        <div class="message">
            หากทำการแก้ไขรายการแล้ว ระบบจะให้ Login ใหม่
        </div>
    
        <div>
            <label>Username:</label>
            <%= f.text_field "admin_username" %>
        </div>
        <div>
            <label>Password:</label>
            <%= f.password_field "admin_password" %>
            * ถ้าไม่ป้อนข้อมูล จะยึดตามรหัสเดิม
        </div>
        <div>
            <label></label>
            <%= f.submit "Login" %>
        </div>
    </div>
</div>
<%= f.hidden_field "id" %>
<% end %>