<%= form_for :admin, :action => "AdminLogin" do |f| %>
<div class="panel">
    <div class="panel_header">Login เข้าสู่ระบบ</div>
    <div class="panel_body">
        <% if @message != nil %>
        <div class="message">
            <%= @message %>
        </div>
        <% end %>
        <div>
            <label>Username:</label>
            <%= f.text_field "admin_username" %>
        </div>
        <div>
            <label>Password:</label>
            <%= f.password_field "admin_password" %>
        </div>
        <div>
            <label></label>
            <%= f.submit "Login" %>
        </div>
    </div>
</div>
<% end %>