<div class="panel">
    <div class="panel_header">ติดต่อเรา</div>
    <div class="panel_body">
        <%= form_for :contact, :action => "ContactIndex" do |f| %>
        <div><%= f.text_area "contact_detail", :style => "width: 100%", :rows => 20 %></div>
        <div><%= f.submit "บันทึกรายการ", :class => "button" %></div>
        <%= f.hidden_field "id" %>
        <% end %>
    </div>
</div>