<div class="panel">
	<div class="panel_header">
		รายการสั่งซื้อ
	</div>
	<div class="panel_body">
		<table class="grid">
			<thead>
				<tr>
					<th>เลขบิล</th>
					<th width="250px">ผู้ซื้อ</th>
					<th>เบอร์โทร</th>
					<th width="130px">email</th>
					<th width="280px">วันที่สั่งซื้อ</th>
					<th>สถานะ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @bill_sales.each do |r| %>
				<tr>
					<td><%= link_to r.id, {:action => "BillSaleView", :id => r.id} %></td>
					<td><%= r.bill_sale_name %></td>
					<td><%= r.bill_sale_tel %></td>
					<td><%= r.bill_sale_email %></td>
					<td><%= r.bill_sale_created_date %></td>
					<td><%= r.bill_sale_status %></td>
					<td>
						<%= link_to "ชำระแล้ว", :action => "OrderPay", :id => r.id %>
						<%= link_to "จัดส่ง", :action => "OrderSend", :id => r.id %>
						<%= link_to "ยกเลิก", :action => "OrderDelete", :id => r.id %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
