<div class="panel">
    <div class="panel_header">ช่องทางการชำระเงิน</div>
    <div class="panel_body">
        <%= form_for :pay, :url => "PayIndex" do |f| %>
            <div>
                <label>ชื่อ</label>
                <%= f.text_field "pay_bank_name", :size => 50 %>
            </div>
            <div>
                <label>รหัสบัญชี</label>
                <%= f.text_field "pay_bank_code", :size => 20 %>
            </div>
            <div>
                <label>ประเภท</label>
                <%= f.text_field "pay_bank_type", :size => 50 %>
            </div>
            <div>
                <label>สาขา</label>
                <%= f.text_field "pay_bank_branch", :size => 100 %>
            </div>
            <div>
                <label></label>
                <%= f.submit "บันทึกรายการ", :class => "button" %>
            </div>
            <%= f.hidden_field "id" %>
        <% end %>
        
        <table class="grid">
            <thead>
                <tr>
                    <th width="150px">รหัส</th>
                    <th width="200px">ชื่อ</th>
                    <th width="300px">ประเภท</th>
                    <th width="200px">สาขา</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @pays.each do |r| %>
                <tr>
                    <td><%= r.pay_bank_code %></td>
                    <td><%= r.pay_bank_name %></td>
                    <td><%= r.pay_bank_type %></td>
                    <td><%= r.pay_bank_branch %></td>
                    <td>
                        <%= link_to "edit", {:action => "PayIndex", :id => r.id} %>
                        <%= link_to "delete", {:action => "PayDelete", :id => r.id} %>
                    </td>
                </tr>    
                <% end %>
            </tbody>
        </table>
    </div>
</div>