<div class="panel">
    <div class="panel_header">ข้อมูลสินค้า</div>
    <div class="panel">
        <%= form_for :product, :url => "ProductSave" do |f| %>
        <div>
            <label>ชื่อสินค้า</label>
            <%= f.text_field "name" %>
        </div>
        <div>
            <label>ราคา</label>
            <%= f.text_field "price" %>
        </div>
        <div>
            <label>ภาพประกอบ</label>
            <%= f.file_field "image" %>
        </div>
        <div>
            <label>รายละเอียด</label>
            <%= f.text_area "detail", :cols => "100", :rows => "15" %>
        </div>
        <div>
            <label></label>
            <%= f.submit "บันทึกรายการ", :class => "button" %>
        </div>
        <%= f.hidden_field "id" %>
        <% end %>
    </div>
</div>