<div class="panel">
    <div class="panel_header">ประเภทสินค้า</div>
    <div class="panel_body">
        <%= form_for :product_type, :url => "ProductTypeSave" do |f| %>
            <div>
                <label>รหัสประเภท</label>
                <%= f.text_field "product_type_code" %>
            </div>
            <div>
                <label>ชื่อประเภท</label>
                <%= f.text_field "product_type_name", :size => 50 %>
            </div>
            <div>
                <label>คำอธิบายเพิ่มเติม</label>
                <%= f.text_field "product_type_detail", :size => 100 %>
            </div>
            <div>
                <label></label>
                <%= f.submit "บันทึกรายการ", :class => "button" %>
            </div>
            <%= f.hidden_field "id" %>
        <% end %>
        
        <table class="grid">
            <thead>
                <tr>
                    <th width="150px">รหัส</th>
                    <th width="200px">ชื่อประเภท</th>
                    <th width="300px">คำอธิบายเพิ่มเติม</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @productTypes.each do |r| %>
                <tr>
                    <td><%= r.product_type_code %></td>
                    <td><%= r.product_type_name %></td>
                    <td><%= r.product_type_detail %></td>
                    <td>
                        <%= link_to "edit", {:action => "ProductTypeIndex", :id => r.id} %>
                        <%= link_to "delete", {:action => "ProductTypeDelete", :id => r.id} %>
                    </td>
                </tr>    
                <% end %>
            </tbody>
        </table>
    </div>
</div>