<div class="panel">
    <div class="panel_header">รายการสินค้า</div>
    <div class="panel_body">
        <%= link_to "เพิ่มรายการ", :action => "ProductForm", :controller => "backend" %>
        
        <table class="grid">
            <thead>
                <tr>
                    <th width="200px">ชื่อสินค้า</th>
                    <th width="150px">ภาพประกอบ</th>
                    <th width="100px">ราคา</th>
                    <th width="300px">คำอธิบาย</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |r| %>
                <tr>
                    <td><%= r.name %></td>
                    <td><%= r.image %></td>
                    <td><%= r.price %></td>
                    <td><%= r.detail %></td>
                    <td>
                        <%= link_to "edit", {:action => "ProductForm", :id => r.id} %>
                        <%= link_to "delete", {:action => "ProductDelete", :id => r.id} %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>