<div class="panel">
	<div class="panel_header">รายงานยอดขาย ประจำวันที่ <%= Time.now %></div>
	<div class="panel_body">
		<table class="grid">
			<thead>
				<tr>
					<th width="40px">ลำดับ</th>
					<th width="270px">สินค้า</th>
					<th width="230px">ผู้ซื้อ</th>
					<th width="170px">วันที่ซื้อ</th>
					<th width="170px">วันที่ชำระ</th>
					<th width="80px">จำนวนเงิน</th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |r| %>
				<tr>
					<td><%= @n %></td>
					<td><%= r.product.name %></td>
					<td><%= r.bill_sale_name %></td>
					<td><%= r.bill_sale_created_date %></td>
					<td><%= r.bill_sale_pay_date %></td>
					<td style="text-align: right;"><%= r.order_price %></td>
				</tr>
				<%
				@sum += r.order_price
				@n += 1
				%>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">รวม</td>
					<td style="text-align: right"><%= @sum %></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
