<div class="panel">
	<div class="panel_header">รายงานยอดขาย แยกตามวัน</div>
	<div class="panel_body">
		<%= form_tag do %>
			ปี: <input type="text" name="year" value="<%= @year %>" />
			เดือน: <input type="text" name="month" value="<%= @month %>" />
			<input type="submit" value="แสดงรายงาน" class="button" />
		<% end %>
		
		<% if @orders != nil %>
		<table class="grid">
			<thead>
				<tr>
					<th width="100px">วันที่</th>
					<th width="200px">ยอดขาย</th>
				</tr>
			</thead>
			<tbody>
				<% if @orders.count > 0 %>
				<% @orders.each do |r| %>
				<tr>
					<td><%= r.day_sale %></td>
					<td align="right"><%= r.sum_price %></td>
				</tr>
				<% if r.sum_price != nil %>
				<% @sum += r.sum_price %>
				<% end %>
				<% end %>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td>รวม</td>
					<td align="right"><%= @sum %></td>
				</tr>
			</tfoot>
		</table>
		<% end %>
	</div>
</div>