<div class="panel">
    <div class="panel_header">ช่องทางการขนส่ง</div>
    <div class="panel_body">
        <%= form_for :shipping, :url => "ShippingSave" do |f| %>
            <div>
                <label>ชื่อ</label>
                <%= f.text_field "shipping_name", :size => 50 %>
            </div>
            <div>
                <label>รายละเอียด</label>
                <%= f.text_field "shipping_detail", :size => 100 %>
            </div>
            <div>
                <label></label>
                <%= f.submit "บันทึกรายการ", :class => "button" %>
            </div>
            <%= f.hidden_field "id" %>
        <% end %>
        
        <table class="grid">
            <thead>
                <tr>
                    <th width="200px">ชื่อ</th>
                    <th width="400px">รายละเอียด</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @shippings.each do |r| %>
                <tr>
                    <td><%= r.shipping_name %></td>
                    <td><%= r.shipping_detail %></td>
                    <td>
                        <%= link_to "edit", {:action => "ShippingIndex", :id => r.id} %>
                        <%= link_to "delete", {:action => "ShippingDelete", :id => r.id} %>
                    </td>
                </tr>    
                <% end %>
            </tbody>
        </table>
    </div>
</div>