.header {
    padding: 20px;
    font-size: 20px;
    color: #f9f9f9;
    font-weight: bold;
    background-color: #969696;
    border-bottom: #000000 2px solid;
}
body {
    margin: 0px;
    background-color: #d7d7d7;
}
.content {
    padding: 10px;
}
.panel_header {
    color: #f9f8f7;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-bottom: #000000 1px solid;
    background-color: #8faf52;
}
.panel {
    background: #f6f6f6;
    border: 1px #474f5a solid;
}
.panel_body {
    padding: 10px;
}
.menu_left {
    padding: 10px;
    color: #474f5a;
    border-right: #808080 1px solid;
}
.menu_left a {
    color: #474f5a;
}
* {
    font-size: 14px;
    font-family: tahoma;
}
form label {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 3px;
}
form div {
    padding-top: 2px;
    padding-bottom: 2px;
}
.grid {
    margin-top: 15px;
}
.grid thead tr th {
    padding: 5px;
    font-weight: bold;
    border-bottom: #808080 1px solid;
    background-color: #cccccc;
}
.grid tbody tr td {
    padding: 5px;
    border-bottom: #cccccc 1px solid;
    background-color: #ffffff;
}
.grid tfoot tr td {
    background-color: #cccccc;
    padding: 5px;
    font-weight: bold;
}
input[type=text] {
    padding: 5px;
}
input[type=password] {
    padding: 5px;
}
input[type=textarea] {
    padding: 5px;
}
.button {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background: #e3a2aa;
    border: #000000 1px double;
    color: #000000;
    cursor: pointer;
}
.top {
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #474f5a;
    text-align: right;
    display: inline-block;
    width: 100%;
}
.top a {
    padding-left: 5px;
    padding-right: 5px;
}
.disabled {
    background-color: #E6E6E6;
    border: #808080 1px solid;
}

/*
 * Pagination
 */
.pagination {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}
.pagination .previous_page {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: black;
}
.pagination .next_page {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: black;
}
.pagination .current {
    padding-top: 5px;
    padding-bottom: 5px;
    border: #2B5DCE 1px solid;
    background-color: #A7CAFF;
    padding-left: 10px;
    padding-right: 10px;
}
.pagination a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.pagination .disabled {
    border: none;
    color: #cccccc;
    font-weight: bold;
    background: none;
}
.message {
    padding: 15px;
    border: green 1px solid;
    background: #ffffcc;
    color: green;
    font-weight: bold;
    margin-bottom: 5px;
}