<!DOCTYPE html>
<html>
<head>
  <title>ระบบบริหารงานร้านค้าออนไลน์</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="header">
      ระบบบริหารงานร้านค้าออนไลน์
    </div>
    <% if session[:admin] != nil %>
    <div class="top">
        <span style="float: left">
            <%= session[:admin].admin_username %>
            <%= link_to "เปลี่ยนข้อมูลส่วนตัว", :action => "AdminChangeProfile", :controller => "backend" %>
            <%= link_to "ออกจากระบบ", :action => "AdminLogout", :controller => "backend" %>
        </span>        
    </div>
    <hr />
    <% end %>
  
    <table width="100%" cellspacing="0px" cellpadding="0px">
      <tr valign="top">
        <% if session[:admin] != nil %>
        <td class="menu_left" width="250px">
          <ul>
            <li><%= link_to "หน้าแรก" %></li>
            <li><%= link_to "ประเภทสินค้า", :action => "ProductTypeIndex", :controller => "backend" %></li>
            <li><%= link_to "เกี่ยวกับเรา", :action => "AboutUsIndex", :controller => "backend" %></li>
            <li><%= link_to "ติดต่อเรา", :action => "ContactIndex", :controller => "backend" %></li>
            <li><%= link_to "การชำระเงิน" , :action => "PayIndex", :controller => "backend" %></li>
            <li><%= link_to "ช่องทางการจัดส่ง", :action => "ShippingIndex", :controller => "backend" %></li>
          </ul>
          <hr />
          
          <ul>
            <li><%= link_to "รายการสั่งซื้อ", :action => "OrderIndex", :controller => "backend" %></li>
            <li><%= link_to "สินค้า", :action => "ProductIndex", :controller => "backend" %></li>
          </ul>
          <hr />
          
          <ul>
            <li><%= link_to "รายงานยอดขายประจำวัน", :action => "ReportSale" %></li>
            <li><%= link_to "รายงานยอดขายแยกตามวัน", :action => "ReportSalePerDay" %></li>
            <li><%= link_to "รายงานขอดขายแยกตามเดือน", :action => "ReportSalePerMonth" %></li>
          </ul>
        </td>
        <% end %>
    
        <td>
          <div class="content">
            <%= yield %>
          </div>
        </td>
      </tr>
    </table>
</body>
</html>
