<!DOCTYPE html>
<html>
	<head>
		<title>ร้านค้าออนไลน์</title>
		<%= stylesheet_link_tag "style" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<style>
			body {
				background: white;
			}
		</style>
	</head>
	<body>
		<div class="header">
			ร้านท็อปอะไหล่ จำหน่ายอะไหล่รถจักรยานยนต์โบราณ
		</div>
		<div class="top">
			<span style="float: left"> 
				<%= link_to "หน้าแรก", :action => "index", :controller => "frontend" %>
				<%= link_to "เกี่ยวกับเรา", :action => "about", :controller => "frontend" %>
				<%= link_to "ติดต่อเรา", :action => "VisitMe" %>
				<%= link_to "การชำระเงิน", :action => "pay", :controller => "frontend" %>
				<%= link_to "การจัดส่งสินค้า", :action => "shipping", :controller => "frontend" %>
				<%= link_to "Webboard", :action => "BoardIndex" %>
				
				<% if session[:member] %>
				<%= link_to "ประวัติการซื้อสินค้า", :action => "History" %>
				<% end %>
			</span>
			<span style="float: right; margin-right: 30px;">
				<% if session[:member] == nil %>
				
				<div style="padding-top: 5px; padding-bottom: 5px;">
					<%= link_to "สมัครสมาชิก", :action => "MemberRegister", :controller => "frontend" %>
				</div>
				<form method="post" action="MemberLogin">
					<input type="text" name="u_username" placeholder="Username" />
					<input type="password" name="u_password" placeholder="Password" />
					<input type="submit" value="Login" class="button" />
				</form>
				<% else %>
					คุณ: <%= session[:member].name %>
					<%= link_to "แก้ไขข้อมูลส่วนตัว", :action => "MemberChangeProfile" %>
					<%= link_to "ออกจากระบบ", :action => "MemberLogout" %>
				<% end %>
			</span>
		</div>
		
		<% if flash[:message] %>
		<div class="message" style="margin: 5px;">
			<%= flash[:message] %>
		</div>
		<% end %>
		
		<hr />

		<table width="100%" cellspacing="0px" cellpadding="0px">
			<tr valign="top">
				<%
				count = 0
				
				if session[:cart]
					count = session[:cart].count
				end
				%>
				<td class="menu_left" width="250px"><h4>สินค้าในตะกร้า (<%= count %>) รายการ</h4>
				<hr />
				
				<% 
				@sum = 0
				
				if session[:cart]
					session[:cart].each do |item|
						product = Product.find(item) 
				%>
				<div>
					<div>
						<%= image_tag product.image, "width" => "50px" %>
					</div>
					<div>
						<%= product.name %>
					</div>
					<div>
						<%= product.price %>
						<%= link_to "DELETE", :action => "RemoveFromCart", :index => @count_item %>
					</div>
				</div>
				<hr />
				<% 
						@sum += product.price
					end
				end 
				%> 
				<div>
					รวมเป็น: <%= @sum %> บาท	
				</div>
				<hr />
				
				<% if count > 0 %>
				<div style="text-align: center">
					<%= link_to "ยืนยันการสั่งซื้อ", {:action => "CheckOut"}, :class => "button" %>
				</div>
				<% end %>
				
				</td>
				
				<td>
				<div class="content">
					<%= yield %>
				</div></td>
			</tr>
		</table>
	</body>
</html>
